<ion-card class="botonCard">


  <ion-card-header [routerLink]="[_direccion]" [state]="_estado">

    <ion-card-title>{{ _titulo }}</ion-card-title>
    <ion-card-subtitle *ngIf="_descrpcion !=='' " >{{ _descrpcion }}</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content *ngIf="_contenido !=='' ">{{ _contenido }}</ion-card-content>

  <ion-grid *ngIf="_btnContenido1 !== '' || _btnContenido2 !== ''">
    <ion-row>
      <ion-col *ngIf="_btnContenido1 !== ''">
        <ion-button class="esteBoton" routerLink="{{ _btnDir1 }}">{{ _btnContenido1 }}</ion-button>
      </ion-col>
      <ion-col *ngIf="_btnContenido2 !== ''">
        <ion-button class="esteBoton" routerLink="{{ _btnDir2 }}">{{ _btnContenido2 }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>

<style>
  .esteBoton
  {
    width: 100%;
    /* margin-left: 5%; */
    /* margin-right: 2.5% !important; */
    color: #f6f7f9;
  }
</style>
