<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-grid>
      <ion-row>

        <!--
         <ion-col size="0.5">
              <ion-icon name="arrow-back-outline" [routerDirection]="_direcion"></ion-icon>
        </ion-col>
         -->

        <ion-col size="auto">
          <ion-img
            src="assets/icon/Logo_Chico.png"
            alt="logo"
            style="width: 4cap; height: 4cap;"
          ></ion-img>
        </ion-col>

        <ion-col size="auto">
          <ion-title class="centrar">
            <div class="">{{ _titulo }}</div>
          </ion-title>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>
